﻿@model LibraryApp.Models.Data_Models.Articles

@{
    ViewBag.Title = "Index";
}

@foreach (var element in Model.List)
{
    <div class="article">
        Назва: @element.ArticleName
        <br />
        Дата публікації: @element.PublicationDate
        <br />
        Текст: @element.ArticleText
        <br />
    </div>
}
