﻿@model LibraryApp.Models.Data_Models.Reports


@{
    ViewBag.Title = "GuestPage";

}

@using (Html.BeginForm("AddReport", "GuestPage", FormMethod.Post))
{
        @Html.ValidationSummary()
    <p>
        Authors name:
        @Html.TextBox("AuthorName")
    </p>
    <p>
        Report text:
        @Html.TextBox("ReportText")
    </p>

    <input type="submit" name="Button" value="Submit" />
}

@foreach (var report in Model.List)
{
    <div class="article">
        @report.AuthorName
        <br />@report.Date
        <br />@report.ReportText
    </div>
}

